# IDE
.idea/
.vscode/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Local configuration
local.properties

# Android
*.iml
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
app/release/
app/debug/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
